{% extends "../base_public.html" %}
{% load custom_markdown %}
{% block content %}
<div class="container-fluid" style="width:90%;margin-left: 180px;">
      <table class="table table-bordered">
          <tr style="font-weight: bold;">
            <td>ID</td>
            <td>AnsibleID</td>
            <td>CeleryID</td>
            <td>GroupName</td>
            <td>playbook</td>
            <td>AnsibleResult</td>
            <td>CeleryResult</td>
          </tr>
        {% for t in AnsibleTasks reversed %}
        <tr>
            <td>{{ t.id }}</td>
            <td><a href="/ansible/get_Ansible_Tasks/?dataKey={{t.AnsibleID}}">{{ t.AnsibleID }}</a></td>
            <td>{{ t.CeleryID }}</td>
            <td>{{ t.GroupName }}</td>
            <td>{{ t.playbook }}</td>
            <td><a href="/ansible/get_Ansible_Tasks/?dataKey={{t.AnsibleID}}">查看结果内容</a></td>
            <td>{{ t.CeleryResult|celery_status }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}
