{% extends "../base_adminlte.html" %}

{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      仪表盘
      <small>控制面板</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
      <li class="active">仪表盘</li>
    </ol>
  </section>

  <section class="content">

      <table class="table table-bordered">
      <tr style="font-weight: bold;background-color: #3c8dbc80;"><td>名称</td><td>信息</td><td>执行操作</td></tr>
      {% for h in object_list %}
          <tr style="background-color: #e4e6e8">
            <td><a href="/ansible/playbook/{{ h.id }}/">{{ h.playbook }}</a></td>
            <td>{{ h.nickName }}</td><td>{{ h.funcName }}</td>
          </tr>
      {% endfor %}
      </table>




  </section>
</div>

{% endblock %}
